@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rebeccapurple url('/img/cutout.svg');
}

@media (min-width: 992px){
  .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .gamelist, .nextgame{
    width: 35vw;
  }
}

.gamelist{
  background: rgba(216,216,216,0.3);
  border-radius: 10px;
  backdrop-filter:blur(8px);
  z-index: 1;
}

.nextgame{
  border-radius: 10px;
  background: rebeccapurple;
  z-index: 1;
}

.purpleRain{
  background: rgba(0, 0, 0, 0.3);
  display: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}