@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rebeccapurple url('/img/cutout.svg');
}

.gamelist{
  background: rgba(216,216,216,0.8);
  border-radius: 10px;
  backdrop-filter:blur(10px);
}