@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #000000;
}

.dshadows{
  box-shadow: 0.3rem 0.3rem 0 0.2rem rgba(226,106,28,0.3) ;
}
.credits{
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  border-bottom: 3px rgba(255,255,255,0.3) solid;

  font-weight: bolder;
}